<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="refresh" content="7200">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/roboto.min.css" rel="stylesheet">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/ripples.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Bus/Train Tracker</title>
</head>

<body background="<%=wallpaperURL%>">
    <div class="container wide wrap">
        &nbsp;
        <!--Curr time-->
        <h1 class="text-center" id="time"></h1>
        <!-- Bus Tracker -->
        <div class="busPanel">
            <!--60 bus-->
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default west60-panel">
                        <div class="panel-heading">60 Blue Island/26th <em><strong>Westbound</strong></em> to <strong>Cicero</strong> and <strong>24th Place</strong>
                        </div>
                        <div class="panel-body errWest60">
                            Expected Bus Arrival Times:
                            <div id="west60">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default east60-panel">
                        <div class="panel-heading">60 Blue Island/26th <em><strong>Eastbound</strong></em> to <strong>Randolph</strong> &amp; <strong>Harbor Dr</strong>
                        </div>
                        <div class="panel-body errEast60">
                            Expected Bus Arrival Times:
                            <div id="east60">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default west18-panel">
                        <div class="panel-heading">18 16th-18th <em><strong>Westbound</strong></em> to <strong>16th</strong> and <strong>Cicero</strong>
                        </div>
                        <div class="panel-body errWest18">
                            Expected Bus Arrival Times:
                            <div id="west18">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--18 bus-->
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default east18-panel">
                        <div class="panel-heading">18 16th-18th <em><strong>Eastbound</strong></em> to <strong>Michigan Avenue</strong>
                        </div>
                        <div class="panel-body errEast18">
                            Expected Bus Arrival Times:
                            <div id="east18"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default pl-panel">
                        <div class="panel-heading">Pink Line to <strong>54th</strong> and <strong>Cermak</strong></div>
                        <div class="panel-body errPl54">
                            Expected Train Arrival Times:
                            <div id="Pl54">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default pl-panel">
                        <div class="panel-heading">Pink Line to <strong>Loop</strong></div>
                        <div class="panel-body errPlLoop">
                            Expected Train Arrival Times:
                            <div id="PlLoop">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <br>
                <div class="ridesharingPanel">
                    <div class="row">
                        <div class="panel panel-default uber-panel">
                            <div class="panel-heading"><img src="img/uber.png" width="50" height="50"> Uber</div>
                            <div class="panel-body errPlLoop">
                                Expected Uber Arrival Times:
                                <div id="uber">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default lyft-panel">
                            <div class="panel-heading"><img src="img/lyft.png" width="150" height="50"> Lyft</div>
                            <div class="panel-body errPlLoop">
                                Expected Lyft Arrival Times:
                                <div id="lyft">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Weather Panel-->
            <div class="weatherPanel">
                <div class="row">
                    <div class="panel panel-default weather-panel">
                        <div class="panel-heading curr-heading" id="curr-heading"></div>
                        <div class="panel-body curr-body" id="curr-body">
                            <div class="row">
                                <div class="col-md-2"><img id="condIco" src="" /></div>
                                <div class="temp cond col-md-10 tempCond" id="curr-cond"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="day0 panel panel-default" id="day0">
                            <div class="panel-heading day0-heading" id="day0-heading">Tomorrow</div>
                            <div class="panel-body day0-panel text-center" id="day0-panel">
                                <img id="day0-ico" src="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="day1 panel panel-default" id="day1">
                            <div class="panel-heading day1-heading" id="day1-heading">Next Day</div>
                            <div class="panel-body day1-panel text-center" id="day1-panel">
                                <img id="day1-ico" src="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="day2 panel panel-default" id="day2">
                            <div class="panel-heading day2-heading" id="day2-heading">Next Next Day</div>
                            <div class="panel-body day2-panel text-center" id="day2-panel">
                                <img id="day2-ico" src="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Social Panel -->
            <div class="socialPanel">
                <div class="row text-center">
                    <h1> Follow Us! </h1>
                    <div class="row ">
                        <div class="col-md-4">
                            <!-- facebook -->
                            <div class="col-padding">
                                <img src="img/facebook.png" />
                                <h2>facebook.com/blue1647</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- instagram -->
                            <div class="col-padding">
                                <img src="img/instagram.png" />
                                <h2> @blue1647chicago</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- twitter -->
                            <div class="col-padding">
                                <img src="img/twitter.png" />
                                <h2> @blue1647 </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="navbar-fixed-bottom">
            <marquee scrollamount="25" class="hls" id="news">
            </marquee>
        </div>
        &nbsp;

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script src="js/ripples.min.js"></script>
        <script src="js/material.min.js"></script>
        <script src="js/clockDisplay.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/dataUpdater.js"></script>
        <script src="js/rotator.js"></script>
        
            <script>
                $(document).ready(function () {
                    $.material.init();
                });
        </script>
</body>

</html>