* {}

#time {
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 5px;
    font-size: 70px;
}

.panel-body {
    font-size: 35px;
}

.panel-heading {
    font-size: 40px;
}

.pl-panel>.panel-heading {
    background-color: deeppink;
    color: white;
}

.pl-panel>.panel-body {
    background-color: hotpink;
    color: white;
}

.west60-panel>.panel-heading {
    background-color: #8E44AD;
    color: white;
}

.west60-panel>.panel-body {
    background-color: #9B59B6;
    color: white;
}

.east60-panel>.panel-heading {
    background-color: #2980B9;
    color: white;
}

.east60-panel>.panel-body {
    background-color: #3498DB;
    color: white;
}

.west18-panel>.panel-heading {
    background-color: #D35400;
    color: white;
}

.west18-panel>.panel-body {
    background-color: #E67E22;
    color: white;
}

.east18-panel>.panel-heading {
    background-color: #27AE60;
    color: white;
}

.east18-panel>.panel-body {
    background-color: #2ECC71;
    color: white;
}

.wide {
    width: 95%;
}

.panel-body {
    background-color: #292939;
    color: white;
}

.tempCond {
    padding-left: 100px;
}

.day0-panel,
.day1-panel,
.day2-panel {
    height: 450px;
}

.uber-panel>.panel-heading {
    background-color: black;
    color: white;
}

.uber-panel>.panel-body {
    background-color: white;
    color: black;
}

.lyft-panel>.panel-heading {
    background-color: #333447;
    color: white;
}

.lyft-panel>.panel-body {
    background-color: hotpink;
    color: white;
}

.socialPanel {
    background-color: #127DB3;
    color: white;
    padding-bottom: 200px;
}

.socialPanel h1 {
    font-size: 84px;
    margin: 100px auto;
}

.socialPanel h2 {
    font-size: 50px;
    font-weight: bold;
}

marquee {
    color: white;
    font-size: 40px;
}
.navbar-fixed-bottom{
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.35);
}
.hl{
    color:#f1c40f;
}